# Node.js dependencies
node_modules/
/dist/
/build/

# Sensitive environment variables
.env
.env.local

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# VS Code settings
.vscode/

# Temporary and log files
*.log
*.tmp
