### Node.js dependencies and build artifacts ###
node_modules/
dist/
build/
*.log

### Sensitive environment variables ###
.env
.env.local

### Strapi CMS ###
strapi/.cache
strapi/build

### macOS ###
.DS_Store

### Windows ###
Thumbs.db

### VS Code ###
.vscode/

### Temporary and log files ###
*.log
*.tmp
